<tabset>
  <tab heading="Edit profile" id="tab1" (selectTab)="navigateTo('update')" [active]="activeTab === 'update'">
    <ng-container *ngIf="activeTab === 'update'">
      <app-update-user></app-update-user>
    </ng-container>
  </tab>
  <tab heading="Items" id="tab2" (selectTab)="navigateTo('items')" [active]="activeTab === 'items'">
    <ng-container *ngIf="activeTab === 'items'">
      <router-outlet></router-outlet>
    </ng-container>
  </tab>
  <tab heading="Offers" id="tab3" (selectTab)="navigateTo('offers')" [active]="activeTab === 'offers'">
    <ng-container *ngIf="activeTab === 'offers'">
      <app-offers></app-offers>
    </ng-container>
  </tab>
</tabset>
