<div class="d-flex align-items-center">
    <button class="btn btn-link" [routerLink]="['..']">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>

  <div class="col-4">
    <div class="card">
      <img src="{{item?.mainPhotoUrl || './assets/user.png'}}" alt="{{item?.name}}" class="card-img-top img-thumbnail">
    <div class="card-body">
      <div>
        <strong>Item: </strong>
        <p>{{item?.name}}</p>
      </div>
      <div>
        <strong>Owner: </strong>
        <p>{{item?.ownerUsername}}</p>
      </div>
      <div>
        <strong>Description : </strong>
        <p>{{item?.description}}</p>
      </div>
      <div>
        <strong>Trading For: </strong>
        <p>{{item?.tradeFor}}</p>
      </div>
    </div>
    <div class="card-footer">
      <!-- <div class="btn-group d-flex">
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-success"(click)="selectTab('Messages')">Messages</button>
      </div> -->
    </div>
    </div>
  </div>
